#item1, #item2 {
    font-size: 0.7rem;
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0 0.25rem 0.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;

    color: #fff;
    background-color: rgba(1,1,1,0.25);
    background: rgba(1,1,1,0.25);
    border-radius: 100vh;
}
